html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    /* padding: 15px 0 0 0; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', sans-serif;
}

.strip {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.strip * {
    max-width: 100%;
}

.invert {
    background-color: rgb(255, 255, 255);
    color: #000000;
}

#main-img {
    width: 85%;
}

#header {
    font-size: 2em;
}

#footer {
    font-size: 2em;
}